:root {
  --blue-rgb: 124, 157, 210;
  --stripe-opacity: 0.3;
  --stripe-size: 24px;
  --angle: 90deg;
  --bg-fallback: #f6f9ff;
}

.striped-bg {
  min-height: 100vh;
  background-color: var(--bg-fallback);
  background-image: repeating-linear-gradient(
    var(--angle),
    rgba(var(--blue-rgb), var(--stripe-opacity)) 0,
    rgba(var(--blue-rgb), var(--stripe-opacity)) calc(var(--stripe-size) / 2),
    transparent calc(var(--stripe-size) / 2),
    transparent var(--stripe-size)
  );
  align-items: center;
  justify-content: center;
}

.forsidebaggrund {
  background-image: url(icons/kopper.png);
  background-size: 950px; /* make it fill the screen */
  background-repeat: repeat; /* don’t tile the image */
  background-position: center; /* center the image */
}

@media (max-width: 800px) {
  .forsidebaggrund {
    background-image: url(icons/kopper.png);
    background-size: 850px; /* make it fill the screen */
    background-repeat: repeat; /* don’t tile the image */
    background-position: center;
  }
}
